<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Configuración de la conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/usuarios_bd?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">toor</property>

        <!-- Dialecto de MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Configuración de SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapeo de entidades -->
        <!-- Asegúrate de agregar tus clases de entidad aquí -->
        <!-- Ejemplo: -->
        <mapping class="com.cst.hibernate.app.model.Usuario"/>
        <mapping class="com.cst.hibernate.app.model.Autor" />
        <mapping class="com.cst.hibernate.app.model.Editorial"/>
        <mapping class="com.cst.hibernate.app.model.Libro" />
        <!-- Archivo de mapeo XML -->
        <mapping resource="/Producto.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
